<div class="container-fluid">
  <div class="header">
    <div class="container">
      
      <h2>FindBook</h2>
      <p>Find Your Book. Quickly.</p>

      <form>
        <div class="form-group">
          <input type="search" class="form-control-lg" placeholder="..." required
          [(ngModel)]="name" name="name">
        </div>
      </form>

      <div>
        <a href=""><i class="fab fa-github-square"></i></a>
        <a href=""><i class="fab fa-github-square"></i></a>
        <a href=""><i class="fab fa-github-square"></i></a>
      </div>
    </div>
  </div>
</div>

<app-search-result nameValue="{{name}}"></app-search-result>