footer {
    height: 50px !important;
    .fixed-bottom {
        font-family: 'Montserrat', sans-serif;
        background-color: #ffffff;
        border-top: 1px solid #eaeaea;
        font-size: 12px;
        a {
            font-size: 12px;
        }
    }
}