body {
    background-color: #ffffff;    
    font-family: 'Roboto', sans-serif;
}

a , button { border: 0; outline: none; cursor: pointer; }
a:hover , button:focus { outline: none; text-decoration: none; }

.container-fluid { padding: 0; }

#header {
    height: 280px;
    padding-top: 5rem;
    text-align: center;
    background: #123 url('./assets/img/back.jpg');
    /*background-color: #112233;*/    
    background-size: cover;
    color: #fff;

    h2 a {
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        color: #e91e63;    
        transition-duration: 400ms;
        transition-property: color;
        &:hover {
            color: #b11248;
        }
    }

    p {
        color: #8e8e8e;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    form {
        margin: 0 auto;
        select , input {
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            outline: none;
            border: 0;
            background: rgba(0, 0, 0, 0.5);
            transition-duration: 400ms;
            transition-property: background-color;
            &:focus {
                color: #000000;
                background-color: #faffbd;
            }
        }        
    }
}

.min-header {
    font-size: 25px;
    color: #bfbfbf;
    background-color: #ffffff;
    margin: auto;
    display: block;
}


/* Media Queries */

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {

}
  
  /* On screens that are 600px or less */
@media screen and (max-width: 600px) {

    #header {
        p {
            font-size: 16px;
        }
    }
    
}
  
