.table {
    th {
        font-family: 'Montserrat', sans-serif;
        color: #8795a1;
        font-weight: 100;
        border: 0;        
    }

    td {        
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
        .res-name {
            text-decoration: none;
        }

        .res-description {
            font-size: 14px;
        }

        .fa-star { color: #FFEB3B;        }
        .fa-link { color: #8795a1;        }

        .author {
            font-size: 14px;
            color: #8795a1;
        }

        .book-details {
            font-size: 14px;
        }

        img {
            float: left;
        }
    }
}

.card { box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08); }
.card img { width: 100%; object-fit: none; }

.res-pagination {
    text-align: center;
}